@import "visually-hidden";
@import "container";
@import "header-top";
@import "header-bottom";
@import "pets-section";
@import "veterinary";
@import "service";
@import "inspection";
@import "course";
@import "status";
@import "communication";
@import "footer";