.container{
    min-width: 1320px;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 11px;
    background-image: url(../images/body-bg.png);
    background-repeat: no-repeat;
}