.course{
    width: 1320px;
    height: 463px;
    background-image: url(..//../images/subscription-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-top: 663px;
}

.course__div{
    margin-top: 170px;
    margin-left: 287px;
    padding: 0;
    width: 544px;
    text-align: center;
}

.course__title{
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.course__form{
    display: flex;
    margin-top: 32px;
    padding: 0;
}

.course__input{
    width: 335px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-right: 21px;
    padding-top: 18px;
    padding-left: 22px;
    padding-bottom: 18px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #949494;
}

.course__button{
    width: 188px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 304px;
    padding: 15px 53px;
    border-radius: 3px;
    background-color: #333333;
}

.course__button:hover{
    background-color: #FFBD54;
    color: #333333;
}

.course__button:active{
    opacity: 0.6;
}

