body{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font-family: "FuturaPT", sans-serif;
}

.header-top{
    margin-bottom: 10px;
    padding-left: 281px;
}

.header-top__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-top__item{
    display: flex;
    align-items: center;
}

.header-top__link, .header-top__link1, .header-top__link2{
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.header-top__link::before{
    content: "";
    z-index: 2;
    display: inline-block;
    background-image: url(../../images/house.svg); 
    background-repeat: no-repeat;
    position: absolute;
    width: 13px;
    height: 14px;
    top: 0;
    left: -20px;
}


.header-top__link1:hover{
    color: #FFBD54;
}

.header-top__link1:active{
    color: #333333;
    opacity: 0.6;
}

.header-top__link2:hover{
    color: #FFBD54;
}

.header-top__link2:active{
    color: #333333;
    opacity: 0.6;
}

.header-top__link2::before{
    content: "";
    z-index: 2;
    display: inline-block;
    background-image: url(../../images/phone.svg); 
    background-repeat: no-repeat;
    position: absolute;
    width: 13px;
    height: 14px;
    top: 0;
    left: -20px;
}

.header-top__img{
    width: 4px;
    height: 4px;
    margin-right: 9px;
    margin-left: 9px;
}

.header-top__time{
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
    margin-right: 16px;
}

.header-top__time::before{
    content: "";
    z-index: 2;
    display: inline-block;
    background-image: url(../../images/calendar.svg); 
    background-repeat: no-repeat;
    position: absolute;
    width: 13px;
    height: 14px;
    top: 0;
    left: -20px;
}



