.header-bottom{
    display: flex;
    
    height: 61px;
    margin:0;
    padding:0 ;
    background-color: #fff;
    border:  1px solid #F3F3F3;
    
}

.header-bottom__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    margin: 0;
    padding: 0;
}

.header-bottom__image{
    width: 188px;
    height: 86px;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}

.header-bottom__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-bottom__item:nth-child(7){
    margin-left: 195px;
}

.header-bottom__item:nth-child(2){
    margin-left: 25px;
    margin-right: 25px;
}
.header-bottom__item:nth-child(4){
    margin-left: 25px;
    margin-right: 25px;
}
.header-bottom__item:nth-child(5){
    margin-left: 25px;
    margin-right: 25px;
}

.header-bottom__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.header-bottom__link:hover{
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #F4FFAD;
    border-left: none;
}

.header-bottom__link:active{
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #F4FFAD;
    border-left: none;
    color: #333333;
    opacity: 0.6;
}

.header-bottom__link1{
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.header-bottom__link1:hover{
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #F4FFAD;
    border-left: none;
}

.header-bottom__link1:active{
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #F4FFAD;
    border-left: none;
    color: #333333;
    opacity: 0.6;
}

.header-bottom__link1::before{
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-image: url(../../images/fish.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 14px;
    left: -25px;
}

.header-bottom__link2{
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.header-bottom__link2:hover{
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #F4FFAD;
    border-left: none;
}

.header-bottom__link2:active{
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #F4FFAD;
    border-left: none;
    color: #333333;
    opacity: 0.6;
}

.header-bottom__link2::before{ 
    content: "";
    position: absolute;
    display: inline-block;
    z-index: 2;
    background-image: url(../../images/pet.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 29px;
    top: 0;
    left: -30px;
}